@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@keyframes ellipsis {
  to {
    width: 1em;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1em;
  }
}
@keyframes load {
  0% {
    z-index: 2;
  }
  75% {
    z-index: 2;
    opacity: 0.9;
  }
  100% {
    z-index: -2;
    opacity: 0;
  }
}
@keyframes heart2 {
  0% {
    transform: scale(0);
    z-index: 1;
  }
  25% {
    transform: scale(0.25);
    z-index: 1;
  }
  50% {
    transform: scale(0.5);
    z-index: 1;
  }
  75% {
    transform: scale(0.75);
    z-index: 1;
  }
  100% {
    transform: scale(1);
    z-index: 1;
  }
}
@keyframes heart1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes move {
  0% {
    transform: translateY(15px);
    opacity: 0.1;
  }
  25% {
    transform: translateY(10px);
    opacity: 0.35;
  }
  50% {
    transform: translateY(5px);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.loader {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: -1;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  font-size: 5rem;
  text-align: center;
  justify-content: center;
  animation: load forwards 3s;
  color: #9356dc;
}
.loader__loading {
  color: #ff79da;
  margin-top: 4rem;
}
.loader__text {
  color: #9356dc;
}
.loader__title {
  font-family: "Shrikhand", sans-serif;
  color: black;
}

.loader__loading::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms 3;
  animation: ellipsis steps(4, end) 900ms 3;
  content: "…";
  width: 0px;
  color: #ff79da;
}

header {
  box-shadow: 0px 0px 8px #999;
  position: relative;
}
header h1 {
  text-align: center;
  padding: 1rem;
}

.localisation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #e4e0e0;
  padding: 2rem;
}
.localisation__icone {
  font-size: 2rem;
}
.localisation__input {
  border: none;
  text-align: center;
  background-color: #e4e0e0;
  font-size: 1.6rem;
  width: 15rem;
  outline: none;
}
.localisation__input::placeholder {
  font-weight: bold;
  color: black;
}

.proposition {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 2rem 0;
}
.proposition__h2 {
  text-align: center;
  margin-top: 2rem;
}
.proposition__text {
  text-align: center;
  margin-top: 2rem;
  color: #666464;
  font-size: 1.8rem;
}
.proposition__button {
  margin: 3rem;
  height: 5rem;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.5rem;
  color: white;
  border-radius: 2rem;
  border: none;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 5px 5px 10px #999;
  width: 22rem;
}
.proposition__button:hover {
  box-shadow: 5px 5px 8px gray;
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
}

.process {
  background-color: white;
  padding: 5rem 0;
}
.process__h2 {
  margin: 0rem 1.5rem 1rem 1.5rem;
  padding: 0 1.5rem;
  max-width: 1200px;
  margin: auto;
}
.process__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  counter-reset: step;
  padding: 0 2rem;
  max-width: 1200px;
  margin: auto;
}
@media (min-width: 1000px) {
  .process__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.process__step {
  display: flex;
  flex-flow: row nowrap;
  background-color: #f2f2f2;
  width: 100%;
  max-width: 33rem;
  height: 7rem;
  border-radius: 2rem;
  align-items: center;
  margin: 1rem 0rem 1rem 1rem;
  padding-right: 1.5rem;
  box-shadow: 8px 8px 10px #ddd;
}
@media (min-width: 1000px) {
  .process__step {
    margin: 2rem;
  }
}
.process__step::before {
  counter-increment: step;
  content: counter(step) "";
  color: white;
  font-size: 1.4rem;
  background-color: #9356dc;
  padding: 0.4rem 0.9rem;
  border-radius: 50%;
  position: relative;
  right: 1rem;
}
.process__step:hover {
  background-color: #f2eafb;
  box-shadow: 8px 8px 10px #c4c4c4;
}
.process__step:hover i {
  color: #9356dc;
}
.process__text {
  font-weight: bold;
}
.process__icone {
  color: #666464;
  margin: 0 2rem;
  font-size: 2rem;
}

.restaurant {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  background-color: #f2f2f2;
  padding: 5rem 0rem;
  max-width: 1200px;
  margin: auto;
}
@media (min-width: 500px) {
  .restaurant {
    grid-template-columns: 1fr 1fr;
  }
}
.restaurant__h2 {
  margin: 0rem 1.5rem;
}
@media (min-width: 500px) {
  .restaurant__h2 {
    grid-column: 1/3;
  }
}
.restaurant__card {
  background-color: white;
  margin: 0 2rem;
  border-radius: 2rem;
  height: 26rem;
  box-shadow: 8px 8px 10px #ddd;
}
.restaurant__card--new {
  position: relative;
}
.restaurant__card--new::after {
  content: "Nouveau";
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1.8rem;
  background-color: #99e2d0;
  color: #278870;
  font-weight: bold;
  font-size: 1.4rem;
  width: 8rem;
  height: 2.5rem;
  text-align: center;
  padding-top: 0.6rem;
}
.restaurant__img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 2rem 2rem 0rem 0rem;
}
.restaurant__description {
  margin: 1rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.restaurant__text {
  line-height: 2.5rem;
  flex: 1;
}
.restaurant__heart {
  background-color: white;
  position: relative;
  padding: 0 1rem;
}
.restaurant__heart:hover .restaurant__heart--one {
  animation: heart1 forwards 100ms 1;
  animation-delay: 250ms;
}
.restaurant__heart:hover .restaurant__heart--two {
  animation: heart2 forwards 300ms 1;
}
.restaurant__heart--one {
  font-size: 2.5rem;
}
.restaurant__heart--two {
  background: -webkit-linear-gradient(top, #9356dc 30%, #ff79da 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  position: absolute;
  left: 1rem;
  z-index: -1;
  font-size: 2.5rem;
}

.footer {
  background-color: #353434;
  padding: 2rem;
}
@media (min-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer__h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  color: white;
}
.footer__container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  line-height: 2.5rem;
}
.footer__container i {
  width: 3rem;
}
.footer__container a {
  color: white;
}

.header--menu {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}
.header--menu i {
  font-size: 2rem;
}
.header--menu--h1 {
  flex: 1;
  padding: 0;
}

main {
  background-color: #f2f2f2;
}

.title {
  background-color: #f2f2f2;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 4rem 2rem 0rem 2rem;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  bottom: 4rem;
}
.title__h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 2.7rem;
  flex: 1;
}
.title__heart {
  background-color: #f2f2f2;
  position: relative;
  padding: 0 1rem;
}
.title__heart:hover .title__heart--one {
  animation: heart1 forwards 100ms 1;
  animation-delay: 250ms;
}
.title__heart:hover .title__heart--two {
  animation: heart2 forwards 300ms 1;
}
.title__heart--one {
  font-size: 2.5rem;
}
.title__heart--two {
  background: -webkit-linear-gradient(top, #9356dc 30%, #ff79da 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  position: absolute;
  left: 1rem;
  z-index: -1;
  font-size: 2.5rem;
}

.menu__type {
  padding-bottom: 2rem;
}
.menu__h3 {
  font-weight: normal;
  margin: 0rem 2rem 2rem 2rem;
  position: relative;
}
.menu__h3::after {
  content: "";
  width: 4.5rem;
  border-bottom: 3px solid #99e2d0;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 2.7rem;
}
.menu__item {
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  margin: 1.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 4px #ddd;
  animation: move 1000ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
.menu__item--2 {
  animation: move 1000ms;
  animation-delay: 400ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
.menu__item--3 {
  animation: move 1000ms;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
.menu__item:hover .menu__confirm {
  width: 5.5rem;
  /* background-color: #99e2d0; */
  /* display: flow-root; */
  transform: translate(-48px, 0);
  /* transition-delay: 300ms, 400ms; */
}
.menu__item:hover .menu__icone {
  transform: rotate(360deg);
  transition-property: all;
  transition-duration: 600ms;
}
.menu__description {
  padding: 1rem 0rem 1rem 1rem;
  flex: 1;
  /* text-overflow: ellipsis; */
  overflow: hidden;
  /* white-space: nowrap; */
}
.menu__description p {
  /* text-overflow: fade(2px) ellipsis;
  overflow: hidden;
  white-space: nowrap; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__price {
  /* align-items: center; */
  padding: 1rem 1em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
}
.menu__confirm {
  background-color: #99e2d0;
  padding: 2.2rem 0rem;
  text-align: center;
  width: 0%;
  justify-content: center;
  /* width: 15%; */
  /* display: flex;
  flex-direction: column; */
  transform: translate(0);
  /* display: none; */
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 500ms;
  position: relative;
  left: 48px;
}
.menu__icone {
  color: #99e2d0;
  font-size: 1.5rem;
  padding: 0.3rem;
  border-radius: 50%;
  background-color: white;
  transform: rotate(0);
  transition-timing-function: ease-in-out;
}
.menu__meal {
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.8rem;
}

.order {
  display: flex;
  justify-content: center;
}
.order__button {
  margin: 3rem;
  height: 5rem;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.5rem;
  color: white;
  border-radius: 2rem;
  border: none;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 5px 5px 10px #999;
  width: 20rem;
  margin-top: 2rem;
  margin-bottom: 7rem;
}
.order__button:hover {
  box-shadow: 5px 5px 8px gray;
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
}

/*# sourceMappingURL=style.css.map */
