// LOADER
.loader {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: -1;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  font-size: 5rem;
  text-align: center;
  justify-content: center;
  animation: load forwards 3s;
  color: $primary;
  &__loading {
    color: $secondary;
    margin-top: 4rem;
  }
  &__text {
    color: $primary;
  }
  &__title {
    font-family: $title;
    color: black;
  }
}

.loader__loading::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms 3;
  animation: ellipsis steps(4, end) 900ms 3;
  content: "\2026";
  width: 0px;
  color: $secondary;
}

// HEADER
header {
  box-shadow: 0px 0px 8px $hint;
  position: relative;
  h1 {
    text-align: center;
    padding: 1rem;
  }
}

// MAIN
main {
  z-index: 1;
}

// Localisation

.localisation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: $localisation;
  padding: 2rem;
  // &__form {
  // }
  &__icone {
    font-size: 2rem;
  }
  &__input {
    border: none;
    text-align: center;
    background-color: $localisation;
    font-size: 1.6rem;
    width: 15rem;
    &::placeholder {
      font-weight: bold;
      color: black;
    }
  }
}

// proposition

.proposition {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $proposition;
  padding: 2rem 0;

  &__h2 {
    text-align: center;
    margin-top: 2rem;
  }
  &__text {
    text-align: center;
    margin-top: 2rem;
    color: $proposition_text;
    font-size: 1.8rem;
  }
  &__button {
    @include button;
    width: 22rem;
    // margin: 3rem;
    // width: 22rem;
    // height: 5rem;
    // font-size: 1.6rem;
    // text-align: center;
    // padding: 1.5rem;
    // color: white;
    // border-radius: 2rem;
    // border: none;
    // background: linear-gradient(to bottom right, $secondary, $primary);
    // box-shadow: 5px 5px 10px $hint;

    // &:hover {
    //   box-shadow: 5px 5px 8px darken($hint, 10%);
    //   background: linear-gradient(
    //     to bottom right,
    //     $secondary-light,
    //     $primary-light
    //   );
    // }
  }
}

// process

.process {
  background-color: white;
  padding: 5rem 0;
  &__h2 {
    margin: 0rem 1.5rem;
    @include desktop {
      margin: 0 19rem 1rem 20rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    counter-reset: step;
    @include L {
      // margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  &__step {
    display: flex;
    flex-flow: row nowrap;
    background-color: $proposition;
    width: 33rem;
    height: 8rem;
    border-radius: 2rem;
    align-items: center;
    margin: 1rem 0;
    @include L {
      margin: 2rem;
    }
    box-shadow: $shadow;
    &::before {
      counter-increment: step;
      content: counter(step) "";
      color: white;
      font-size: 1.4rem;
      background-color: $primary;
      padding: 0.4rem 0.9rem;
      border-radius: 50%;
      position: relative;
      right: 1rem;
    }
    &:hover {
      background-color: $primary-verylight;
      box-shadow: 8px 8px 10px darken($border, 10%);
    }
    &:hover i {
      color: $primary;
    }
  }

  &__text {
    font-weight: bold;
  }

  &__icone {
    color: $proposition_text;
    margin: 0 2rem;
    font-size: 2rem;
  }
}

// restaurant

.restaurant {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  background-color: $proposition;
  padding: 5rem 0rem;
  @include M {
    grid-template-columns: 1fr 1fr;
  }
  @include desktop {
    margin: 0 18rem;
  }

  &__h2 {
    margin: 0rem 1.5rem;
    @include M {
      grid-column: 1/3;
    }
  }
  &__card {
    background-color: white;
    margin: 0 2rem;
    border-radius: 2rem;
    height: 26rem;
    box-shadow: $shadow;
    &--new {
      position: relative;
      &::after {
        content: "Nouveau";
        position: absolute;
        z-index: 1;
        right: 1.5rem;
        top: 1.8rem;
        background-color: $tertiary;
        color: darken($tertiary, 40%);
        font-weight: bold;
        font-size: 1.4rem;
        width: 8rem;
        height: 2.5rem;
        text-align: center;
        padding-top: 0.6rem;
      }
    }
  }
  &__img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem 2rem 0rem 0rem;
  }
  &__description {
    margin: 1rem 1rem;
    display: flex;
    flex-flow: row nowrap;
    // justify-content: space-between;
    align-items: center;
  }
  &__text {
    line-height: 2.5rem;
    flex: 1;
  }
  &__heart {
    background-color: white;
    position: relative;
    padding: 0 1rem;
    &:hover .restaurant__heart--one {
      animation: heart1 forwards 100ms 1;
      animation-delay: 250ms;
    }
    &:hover .restaurant__heart--two {
      animation: heart2 forwards 300ms 1;
    }
    &--one {
      font-size: 2.5rem;
    }
    &--two {
      background: -webkit-linear-gradient(top, #9356dc 30%, #ff79da 70%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-size: 2rem;
      position: absolute;
      left: 1rem;

      z-index: -1;
      font-size: 2.5rem;
    }
  }
}

// footer

.footer {
  background-color: $footer;
  padding: 2rem;
  @include M {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__h3 {
    font-family: $title;
    font-weight: normal;
    color: white;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    line-height: 2.5rem;
    i {
      width: 3rem;
    }
    a {
      color: white;
    }
  }
}
