@keyframes ellipsis {
  to {
    width: 1em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1em;
  }
}

@keyframes load {
  0% {
    z-index: 2;
  }

  75% {
    z-index: 1;
    opacity: 0.9;
  }

  100% {
    z-index: -2;
    opacity: 0;
  }
}
