html {
    font-size: 62.5%;
  }
  
  body {
    font-family: var(--font-family);
    color: var(--text);
    font-size: 1.6rem;
  }
 
  ul {
    list-style: none;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }