@import "variables";

// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// GENERAL

html {
  font-size: 62.5%;
}

body {
  font-family: $font-stack;
  font-size: 1.6rem;
}

h1 {
  font-family: $title;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
}
