html {
    font-size: 62.5%;
  }
  
  body {
    font-family: var(--font-family);
    font-size: 1.6rem;
  }

  h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}
 
  ul {
    list-style: none;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }