/* Landscape phones and down */
// @mixin xs {
//   @media (max-width: 480px) {
//     @content;
//   }
// }

/* Landscape phone to portrait tablet */
// @mixin sm {
//   @media (max-width: 767px) {
//     @content;
//   }
// }

@mixin M {
  @media (min-width: 600px) {
    @content;
  }
}

/* Portrait tablet to landscape and desktop */
@mixin L {
  @media (min-width: 1000xp) {
    @content;
  }
}

/* Large desktop */
@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}
