// @mixin xs {
//   @media (max-width: 480px) {
//     @content;
//   }
// }

// @mixin sm {
//   @media (max-width: 767px) {
//     @content;
//   }
// }

@mixin M {
  @media (min-width: 500px) {
    @content;
  }
}

@mixin L {
  @media (min-width: 950px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1300px) {
    @content;
  }
}

@mixin XL {
  @media (min-width: 1600px) {
    @content;
  }
}
