// @mixin xs {
//   @media (max-width: 480px) {
//     @content;
//   }
// }

// @mixin sm {
//   @media (max-width: 767px) {
//     @content;
//   }
// }

@mixin M {
  @media (min-width: 600px) and (max-width: 999px) {
    @content;
  }
}

@mixin L {
  @media (min-width: 1000px) and (max-width: 1299px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1300px) and (max-width: 1599px) {
    @content;
  }
}

@mixin XL {
  @media (min-width: 1600px) {
    @content;
  }
}
