// header
.header--menu {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;

  i {
    // padding: 1rem;
    font-size: 2rem;
    // padding-left: 2rem;
  }
  &--h1 {
    flex: 1;
    padding: 0;
  }
}

// main

// titre du restaurant

.title {
  background-color: $proposition;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 2rem 1.5rem;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  bottom: 4rem;
  &__h2 {
    font-family: $title;
    flex: 1;
  }
  &__heart {
    background-color: $proposition;
    position: relative;
    padding: 0 1rem;
    &:hover .title__heart--one {
      animation: heart1 forwards 100ms 1;
      animation-delay: 250ms;
    }
    &:hover .title__heart--two {
      animation: heart2 forwards 300ms 1;
    }
    &--one {
      font-size: 2.5rem;
    }
    &--two {
      background: -webkit-linear-gradient(top, #9356dc 30%, #ff79da 70%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-size: 2rem;
      position: absolute;
      left: 1rem;
      z-index: -1;
      font-size: 2.5rem;
    }
  }
}

// ENTREE

.menu {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  &__item {
    border: solid 1px black;
    display: flex;
    flex-flow: row nowrap;
    // width: 20rem;

    overflow: hidden;
  }

  &__description {
    padding: 1rem 0rem 1rem 1rem;
    flex: 1;
    /* text-overflow: ellipsis; */

    overflow: hidden;
    /* white-space: nowrap; */
  }
  &__description p {
    /* text-overflow: fade(2px) ellipsis;
    overflow: hidden;
    white-space: nowrap; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__prix {
    /* align-items: center; */
    padding: 1rem 1em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
  }

  &__confirm {
    background-color: #99e2d0;
    padding: 2.2rem 0rem;
    text-align: center;

    width: 0%;
    justify-content: center;
    /* width: 15%; */
    /* display: flex;
    flex-direction: column; */
    transform: translate();
    /* display: none; */
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 500ms;
    position: relative;
    left: 48px;
  }

  &__item:hover .menu__confirm {
    width: 6rem;
    /* background-color: #99e2d0; */
    /* display: flow-root; */
    transform: translate(-48px, 0);

    /* transition-delay: 300ms, 400ms; */
  }

  &__icone {
    color: #99e2d0;
    font-size: 1.5rem;
    padding: 0.3rem;
    border-radius: 50%;
    background-color: white;
    transform: rotate(0);
    transition-timing-function: ease-in-out;
  }

  &__item:hover .menu__icone {
    transform: rotate(360deg);
    transition-property: all;
    transition-duration: 600ms;
  }
  &__meal {
    padding-bottom: 0.5rem;
    font-weight: bold;
    font-size: 2rem;
  }

  //   &__text {
  //     padding: 0.5rem;
  //   }
}

//   h4,
//   p {
//     margin: 0;
//     padding: 0.2rem;
//   }
