@mixin button {
  margin: 3rem;
  width: 22rem;
  height: 5rem;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.5rem;
  color: white;
  border-radius: 2rem;
  border: none;
  background: linear-gradient(to bottom right, $secondary, $primary);
  box-shadow: 5px 5px 10px $hint;

  &:hover {
    box-shadow: 5px 5px 8px darken($hint, 10%);
    background: linear-gradient(
      to bottom right,
      $secondary-light,
      $primary-light
    );
  }
}
