:root {
    --font-family: 'Roboto', sans-serif;
    --title: 'Shrikhand', sans-serif;
    --primary: #9356DC;
    --secondary : #FF79DA;
    --tertiary: #99E2D0;
    --hint: #999;
    --border: #ddd;
    --background: #f2f2f2;
    --border-light: #999;
    --shadow: 0px 0px 5px var(--border-light);
    --light: #deebff;
  }

