$font-stack: "Roboto", sans-serif;
$title: "Shrikhand", sans-serif;
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$hint: #999;
$border: #ddd;
$localisation: #e4e0e0;
$proposition: #f2f2f2;
$proposition_text: rgb(102, 100, 100);
$shadow: 0px 0px 5px var(--border-light);
$primary-light: lighten($primary, 3%);
$secondary-light: lighten($secondary, 3%);
