// LOADER
@keyframes ellipsis {
  to {
    width: 1em;
  }
}

@keyframes load {
  0% {
    z-index: 2;
  }

  75% {
    z-index: 2;
    opacity: 0.9;
  }

  100% {
    z-index: -2;
    opacity: 0;
  }
}

// HEART
@keyframes heart2 {
  0% {
    transform: scale(0);
    z-index: 1;
  }

  25% {
    transform: scale(0.25);
    z-index: 1;
  }
  50% {
    transform: scale(0.5);
    z-index: 1;
  }
  75% {
    transform: scale(0.75);
    z-index: 1;
  }
  100% {
    transform: scale(1);
    z-index: 1;
  }
}

@keyframes heart1 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

// MENU
@keyframes move {
  0% {
    transform: translateY(15px);
    opacity: 0.1;
  }

  25% {
    transform: translateY(10px);
    opacity: 0.35;
  }

  50% {
    transform: translateY(5px);
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
