// header
.header--menu {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;

  i {
    font-size: 2rem;
  }
  &--h1 {
    flex: 1;
    padding: 0;
  }
}

// main

main {
  background-color: $background-light;
}

//cover picture

.cover {
  &__img {
    max-height: 25rem;
    width: 100%;
    object-fit: cover;
    @include M {
      width: 100%;
      max-height: 35rem;
      object-fit: cover;
    }
    @include L {
      max-height: 45rem;
    }
  }
}

// titre du restaurant

.title {
  @include M {
    max-width: 1000px;
    margin: auto;
    margin-top: -5rem;
  }
  background-color: $background;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 3rem 2rem 2rem 2rem;
  border-radius: 4rem 4rem 0 0;
  position: relative;
  margin-top: -5rem;
  width: 100%;

  &__h2 {
    font-family: $title;
    font-size: 2.7rem;
    flex: 1;
  }
  &__heart {
    background-color: $background;
    position: relative;
    padding: 0 1rem;
    &:hover .title__heart--one {
      animation: heart1 forwards 100ms 1;
      animation-delay: 250ms;
    }
    &:hover .title__heart--two {
      animation: heart2 forwards 300ms 1;
    }
    &--one {
      font-size: 2.5rem;
    }
    &--two {
      background: -webkit-linear-gradient(top, #9356dc 30%, #ff79da 70%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-size: 2rem;
      position: absolute;
      left: 1rem;
      z-index: -1;
      font-size: 2.5rem;
    }
  }
}

// MENU

.menu {
  background-color: $background;
  @include M {
    max-width: 1000px;
    margin: auto;
  }

  &__type {
    padding-bottom: 2rem;
  }

  &__h3 {
    font-weight: normal;
    margin: 0rem 2rem 2rem 2rem;
    position: relative;
    &::after {
      content: "";
      width: 4.5rem;
      border-bottom: 3px solid $tertiary;
      z-index: 2;
      position: absolute;
      left: 0;
      top: 2.7rem;
    }
  }
  &__item {
    background-color: $background-light;

    display: flex;
    flex-flow: row nowrap;
    margin: 1.5rem;
    border-radius: 1.5rem;

    overflow: hidden;
    box-shadow: $shadow--menu;
    animation: move 1000ms;
    animation-fill-mode: forwards;
    opacity: 0;
    &--2 {
      animation: move 1000ms;
      animation-delay: 400ms;
      animation-fill-mode: forwards;
      opacity: 0;
    }
    &--3 {
      animation: move 1000ms;
      animation-delay: 600ms;
      animation-fill-mode: forwards;
      opacity: 0;
    }
    &--4 {
      animation: move 1000ms;
      animation-delay: 800ms;
      animation-fill-mode: forwards;
      opacity: 0;
    }

    &:hover .menu__confirm {
      width: 5.5rem;
      transform: translate(-48px, 0);
    }
    &:hover .menu__icone {
      transform: rotate(360deg);
    }
  }

  &__description {
    padding: 1rem 0rem 1rem 1rem;
    flex: 1;

    overflow: hidden;
  }
  &__description p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__price {
    padding: 1rem 1em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
  }

  &__confirm {
    background-color: #99e2d0;
    padding: 2.2rem 0rem;
    text-align: center;
    width: 0%;
    justify-content: center;
    transform: translate(0);
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 500ms;
    position: relative;
    left: 48px;
  }

  &__icone {
    color: #99e2d0;
    font-size: 1.5rem;
    padding: 0.3rem;
    border-radius: 50%;
    background-color: $background-light;
    transform: rotate(0);
    transition-timing-function: ease-in-out;
  }

  &__meal {
    padding-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.8rem;
  }
}

// order

.order {
  @include M {
    max-width: 1000px;
    margin: auto;
  }
  background-color: $background;
  display: flex;
  justify-content: center;
  &__button {
    @include button;
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 7rem;
  }
}
